<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite One">

	<test name="TestOne">
		<classes>

			<class name="LoginScenario.LoginScenario"/>
				<class name="Products.Products"/>
					<class name="Manufacturing.Manufacturing"/>

		</classes>
	</test>
</suite>